P {
  background-color:    #fadbd8;
  font-size: 20px;
  font-family: sans-serif;
  border-style: dotted;
  margin: 5%;

}

h1 {
  font-size: 50px;
  font-family: "times new roman";
color: blue;
margin-left: auto;
    margin-right: auto;
    width: 20em
}

img.resize {
  max-width: 40%;
  max-height: 40%;
  display: block;
    margin-left: auto;
    margin-right: auto;
}

@font-face {

}
